@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");

@import "tailwindcss";

@theme {
  --font-display: "Figtree", "sans-serif";
  --color-primary1: hsla(216, 84%, 9%, 1);
  --color-primary2: hsla(0, 0%, 100%, 1);
  --color-primary3: hsla(94, 41%, 97%, 1);
  --color-btntext1: hsla(215, 80%, 10%, 1);
  --color-btnprimary1: hsla(225, 95%, 25%, 1);
  --color-text1: hsla(226, 100%, 72%, 1);
  --color-text2: hsla(220, 13%, 46%, 1);
  --animate-shine: shine 5s linear infinite;

  @keyframes shine {
    0%: {
      background-position: 100%;
    }
    100%: {
      background-position: -100%;
    }
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  display: flex;
  animation: scroll 20s linear infinite;
}
